
{% for node in m.cluster.nodes -%}
{{ node.name }} ansible_host={{ node.ip }} ansible_user=root ansible_ssh_private_key_file={{ m.data.roleByName[node.role].kvmTemplate.build_key_pair }}		#  {{ node.fqdn }}
{% endfor %}

{% if m.data.groupByName is defined and m.data.groupByName|length > 0 %}
{% for name, hosts in m.data.groupByName.iteritems() %}

[{{ name }}]
{% for h in hosts %}
{{ h }}
{% endfor %}
{% endfor %}

{% endif %}