
MYDIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

cd ${MYDIR}

chmod +x ./cmd/*
chmod +x ./ssh/*

if [ "$1" != "{{m.cluster.id}}" ]
then
    echo 
    echo "To really build the cluster, As a security, please provide cluster_id as parameter"
    exit 1
fi

shift

./cmd/buildCluster.sh

#ansible --version

ansible-playbook ./main.yml "$@"
