[defaults] 
{% if m.data.rolePaths | length > 0 %}
roles_path = {% for rp in m.data.rolePaths %}{% if not loop.first %}:{% endif %}{{rp}}{% endfor %}
{% endif %}

inventory = ./inventory
host_key_checking = False
retry_files_enabled = False

