
# Set JAVA_HOME. Must be at least 1.7.
# If not set, will try to lookup a correct version.
# JAVA_HOME=/some/place/where/to/find/java

# Set the log configuration file
JOPTS="$JOPTS -Dlog4j.configuration=file:/etc/ktail/log4j.xml"


# Set brokers
{% if 'kafka_brokers' in groups %}
OPTS="$OPTS --brokers {% for host in groups['kafka_brokers'] %}{% if not loop.first %},{% endif %}{{  hostvars[host]['ansible_fqdn'] }}:{{kafka_port}}{% endfor %}"
{% elif 'brokers' in groups %}
OPTS="$OPTS --brokers {% for host in groups['brokers'] %}{% if not loop.first %},{% endif %}{{  hostvars[host]['ansible_fqdn'] }}:{{kafka_port}}{% endfor %}"
{% elif 'broker' in groups %}
OPTS="$OPTS --brokers {% for host in groups['broker'] %}{% if not loop.first %},{% endif %}{{  hostvars[host]['ansible_fqdn'] }}:{{kafka_port}}{% endfor %}"
{% elif kafka_broker_hosts is defined %}
OPTS="$OPTS --brokers  {% for host in kafka_broker_hosts %}{% if not loop.first %},{% endif %}{{  hostvars[host]['ansible_fqdn'] }}:{{kafka_port}}{% endfor %}"
{% else %}
# OPTS="$OPTS --brokers br1:9092,br2:9092,br3:9092"
{% endif %}


# If kerberos is activated, you must add line like this:
{% if kerberos is defined and kerberos %}
JOPTS="$JOPTS -Djava.security.auth.login.config=/etc/ktail/kafka_client_jaas.conf"
OPTS="$OPTS --property security.protocol=SASL_PLAINTEXT"
{% else %}
# JOPTS="$JOPTS -Djava.security.auth.login.config=/etc/ktail/kafka_client_jaas.conf"
# OPTS="$OPTS --property security.protocol=SASL_PLAINTEXT"
{% endif %}

# (You can of course modify the kafka_client_jaas.conf file to adjust to your needs or target another existing one).

# But, keep in mind, you must also perform a kinit command, with a principal granting access to the topic 
#

