#!/bin/bash

echo "----------- Test if IP are free for cluster {{m.cluster.id}}"
set +e

function ensure_ip_free
{
	echo "Will ensure $1 is not already in use.."
	ping -c 1 -t 1 $1 >/dev/null 2>&1
	if [ $? -eq 0 ]
	then
		echo "IP $1 IS ALIVE. Will not continue!!"
		exit 1
	fi
	echo "OK"
}

{% for node in m.cluster.nodes %}
ensure_ip_free {{node.ip}}
{% endfor %}

set -e


{% for node in m.cluster.nodes %}
	
{{m.data.kvmScriptsPath}}/buildVM.sh \
 	--host {{ m.infra.hostByName[node.host].fqdn }} \
	--name {{ node.vmname }} \
	--vcpu {{ m.data.roleByName[node.role].vcpu }} \
	--ram {{ m.data.roleByName[node.role].memory }} \
 	--volume {{node.rootVolume }} \
 	--template {{ m.data.roleByName[node.role].kvmTemplate.name }} \
	--hostname {{node.hostname}} \
  	--bridge {{ m.infra.networkByName[node.network].bridge }} \
  	--ip {{node.ip}} \
  	--netmask {{ m.infra.networkByName[node.network].netmask }} \
  	--gateway {{ m.infra.networkByName[node.network].gateway }} \
  	--search {{ m.data.roleByName[node.role].domain }} &
  
	
{% endfor %}


echo "............ Wait for VM creation"
wait

{% for node in m.cluster.nodes %}
{% if m.data.dataDisksByNode[node.name] is defined -%}
echo "---- Will build Data disk(s) for node {{node.name}}"
{%     for disk in m.data.dataDisksByNode[node.name] -%}
{{m.data.kvmScriptsPath}}/attachDisk.sh --host {{m.infra.hostByName[node.host].fqdn}} --name {{node.vmname}} --size {{disk.size}} --volume {{disk.volume}} --device {{disk.device}} --dmode {{disk.mode}}
{%     endfor %}
{% else -%}
echo "---- No Data disk for node {{node.name}}"
{% endif -%}
{% endfor %}




echo " ----------- Will start all VMs"
{% for node in m.cluster.nodes %}

{{m.data.kvmScriptsPath}}/startVM.sh --host {{ m.infra.hostByName[node.host].fqdn }} --name {{node.vmname}} --fqdn {{node.ip}} &
{% endfor %}

echo "............ Wait for VM up and ssh ready"
wait

echo "---------------- END"
